<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Search for movie</title>
    <link rel="stylesheet" href="../static/index_style.css">
</head>
<body>

    <h1>Search for movie!</h1>

    <form th:action="@{/homescreen}" th:object="${searchMovieForm}" method="post">
        <label for="movieName">Enter name of movie</label>
        <input type="text" id="movieName" name="movieSearch" autofocus="autofocus">
        <br >
        <input type="submit" value="Search">
    </form>

    <form th:action="@{/homescreen}" th:object="${searchMovieForm}" method="post">
        <label for="genreSearch">Search by genre</label>
        <input type="text" id="genreSearch" name="genreSearch" autofocus="autofocus">
        <br >
        <input type="submit" value="Search">
    </form>

    <tr th:each="movie : ${movies}">
        <div class="movie">
            <td> <p th:text="${movie.id}"></p> </td>
            <td> <p th:text="${movie.name}"></p> </td>
        </div>
    </tr>

</body>
</html>