<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>This is login page</title>
</head>
<body>

<form th:action="@{/login}" th:object="${loginForm}" method="post">
    <label for="username">Username</label>
    <input type="text" id="username" name="username" autofocus="autofocus">

    <label for="password">Password</label>
    <input type="text" id="password" name="password" autofocus="autofocus">
    <br >
    <input type="submit" value="Log in">
</form>

</body>
</html>